* {
  font-family: 'Montserrat', sans-serif;
  
}



body {
  margin: 0;
  animation:changeBackgroundColor 8s infinite;
  
  
  
}

 /* span{
  
  font-size: 15px;
} */

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-bottom: 2em;
  font-size: 30px;
  color: rgb(129, 44, 44);

}

main {
  border-radius: 0.9em;
  background-image: url(./img/Design\ sem\ nome\ \(2\).png);
  height: 35px;
  
  box-sizing: border-box; 
  padding: 20px;
 
  
  
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

p{
  
  margin-left: 3em;
  font-size: 0.7em;
  color: rgb(189, 27, 9);
  
}

form input {
  
  border: none;
  border-bottom: 0.1em solid rgb(227, 186, 223);
  height: 30px;
  width: 100%;
}

form button {
  border-style: none;
  border-radius: 0.3em;
  box-sizing: border-box;
  background-color: #ff36bc;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #ff36bc;
  }
  100% {
    background-color: #001F3F;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

li.checked {
  background-color: #d27cb5;
  text-decoration: line-through;
}



li button{
  background-color: transparent;
  background-image: url(./img/trash.png);
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}



#button-container button{
  border: none;
  cursor: pointer;
  font-size: 18pt;
  padding: 10px 20px;
}

#button-container button:first-child {
  font-size: 18px;
  color: white;
  border-style: none;
  border-radius: 0.3em;
  background-color: rgba(0, 103, 82, 0.803);
}

#button-container button:last-child {
  font-size: 18px;
  color: #f8f9fe;
  border-style: none;
  border-radius: 0.3em;
  background-color: rgba(255, 33, 33, 0.781);
 
}




@media (min-width: 400px) {
  body{
      align-items: center;
      display: flex;
      background-color: #f8f9fe;
      justify-content: center;
      min-height: 100vh;
  }

  main{
      background-color: white;
      box-shadow: 2px 2px 9px #989595f7;
      width: 400px;
      min-height: 400px;
      margin: 50px;
  }

  form{
      flex-direction: row;
  }

  form input{
      width: 180px;

  }
}

