{
    font-family: 'Itim', sans-serif;
}

a{
    color: rgb(188, 159, 112);
    text-decoration: none;
}


body{
    background-image: url(./img/bg3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

button {
    background-color: #fff1df;
    border-radius: 20px;
    border-style: dotted;
    width: 60%;
    height: 73%;
    font-weight: 600;
    text-transform: uppercase;
}

#button-add{
    margin-left: 10px;
    margin-right: 10px;
}

#button-container{
    padding-right: 5%;
}

#button-clean{
    size: 15px;
    padding-right: 5%;

}

#button-select{
    margin-left: 10px;
    width: 95px;
}

div {
    display: flex;
    align-items: center;
    max-height: 50%;
}

#div-titulo {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff1df;
    border-radius: 10px;
}

footer {
    align-items: center;
    justify-content: center;
    font-size: 70%;
    display: flex;
}

form{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

h1{
    text-align: center;
}

h3{
    margin-left: 15px;
}


#img-footer{
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 19%;
    padding-top: 10%;
    padding-left: 10%;
}

#imagem-titulo{
    max-width: 2rem;
    background-size: contain;
    max-height: auto;
    display: flex;
}


input{
    background-color: #fff1df;
    border-style: dotted;
    border-radius: 15px;

}

#input-space{
    width: 60%;
    margin-left: 10px;
}

li {
    list-style-type: upper-roman;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    font-size: 17px; 

}


  li.checked {
    text-decoration: line-through;
    background-color: #9d8957;

  }

  li button {
    background-color: transparent;
    background-image: url('./img/lixinho.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
  }


main {
    background-color: #fff1df;
    border-radius: 12px;
    animation: backInLeft; 
    animation-duration: 2s;

}

p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-family: 'Gaegu', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: #2b2b2b;
}

#todo-list-container {
    display: flex;
    align-items: center;
}

ul {
    padding-top: 20px;
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: -21px;
    margin-inline-end: 0px;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
}

@media (min-width: 600px){
    main{
        font-size: 3vh;
    }

    div {
        display: flex;
        align-items: center;
        max-height: 90%;
    }

    h1 {
        font-size: 12%;
    }

    #footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        gap: 2px;
    }

}