* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(248, 241, 233);
}

main {
    box-sizing: border-box;
    box-shadow: 2px 2px 9px black;
    width: 400px;
    min-height: 400px;
    background-color: white;
    padding: 3rem;
}

form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: none;
    gap: 20px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

li.checked {
   background-color: greenyellow; 
}

li button {
   background-color: transparent;
   background-image: url('../projeto/trash.png'); 
   background-size: contain;
   border: none;
   cursor: pointer;
   height: 25px;
   width: 25px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 100%;

}

form button {
    background-color: #0d69f9;
    border: none;
    box-sizing: border-box;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#button-container button {
    border:none;
    font-size: 14pt;
    padding: 10px 20px;
}
#button-container button:first-child {
    background-color: rgba(172, 255, 47, 0.803);
   
} 

#button-container button:last-child {
    background-color: rgba(255, 33, 33, 0.781);
}

.error{
    color: #af4242;
    background-color: #fde8ec;
    padding: 0px;
    width: 70%;
  
}

.error.display-error{
    display: block;
    margin-bottom: 20px;
    transform: translateY(-20px);
}

@media (min-width: 600px) {
    body {
    align-items: center;
    background-color: #f9f8f3;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

    main {
    background-color: white;
    box-shadow: 2px 2px 9px #989595f7;
    min-height: 400px;
    width: 400px;
}

    form {
        flex-direction: row;
    }

    input {
    width: 200px;    
    }
}