* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
main {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}
form {
    
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 10px;
    margin-bottom: 10px;
}
form input {   
    border: 1px solid #a09c9c;
    border-radius: 10px;
    height: 36px; 
    width: 100%;
}
#btn-form button {   
    background-color: transparent;
    background-image: url(../img/mais.png);
    background-size: contain;  
    background-repeat: no-repeat;  
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;   
    font-size: 0;
    height: 40px;
    width: 50px;
}
ul {
    list-style: none;
    padding: 0;  
   
   
}
ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 3px 10px;
}
li.marcado {
    background-color: #adff2f;
    text-decoration: line-through;
    border-radius: 10px;
}
li button {
    background-color: transparent;
    background-image: url(../img/trash.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    height: 20px;
    width: 20px;
}
#button-container button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14pt;
    padding: 10px 20px;
    margin-right: 10px;
    
}
#button-container button:first-child {  /*:first-child->primeiro button filho do pai*/
    background-color: rgba(172, 255, 47, 0.803);/*:last-child -> último button filho do pai*/
}
#button-container button:nth-child(2) { /*entre o parênteses coloca-se a posição do elemento filho que receberá o estilo*/
    background-color: rgba(247, 31, 31, 0.781);
}

@media (min-width:600px) {
    body {
        align-items: center;
        background-color: #f8f9fe;
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }
    main {
        box-shadow: 2px 2px 8px;      
        min-height: 400px;
        width: 400px;
    }
    #btn-form button {
        background-color: #0d30f6;
        background-image: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 10pt;
        height: 36px;     
        width: 116px; 
    }
    form input {
        height: 32px;
        width: 220px;
    }

    
}