* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}
main {
    box-sizing: border-box;
    padding: 20px;
}
form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input {
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
}
form button {
    border: none;
    background-color: #0d69f6;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}   
#button-container button {
    border: none;
    cursor: pointer;
    font-size: 14pt;
    padding: 10px 20px;
}
#button-container button:first-child {
    background-color: rgba(172, 255, 47, 0.803);
}
#button-container button:last-child {
    background-color: rgba(255, 33, 33, 0.781);
}
@media (min-width:600px) {
    body {
        align-items: center;
        background-color: #f8f9fe;
        display:flex;
        justify-content: center;
        min-height: 100vh;  
    }
    main {
        background-color: white;
        box-shadow: 2px 2px 9px #989595f7;
        min-height: 400px;
        height: 400px;
    }
    form {
        flex-direction: row;
    }
    form input {
        width: 180px;
    }
}